In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.metrics import ConfusionMatrixDisplay
from sklearn.metrics import classification_report
from sklearn.metrics import recall_score, precision_score, f1_score, accuracy_score
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.model_selection import GridSearchCV

In [3]:
#from google.colab import drive
#drive.mount('/content/drive')
df = pd.read_csv("titanic_train.csv")
test = pd.read_csv("titanic_train.csv")

In [4]:
df

,Unnamed: 0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0,332,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S,0
1,1,734,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S,0
2,2,383,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S,0
3,3,705,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S,0
4,4,814,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,707,107,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S,1
708,708,271,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,0
709,709,861,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,0
710,710,436,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S,1
711,711,103,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S,0

In [5]:
df = df.drop(columns=['Cabin', 'Unnamed: 0','Name'])

In [6]:
labelencoder = LabelEncoder()

df_le = df.copy()

df_le.loc[:, 'Sex'] = labelencoder.fit_transform(df_le.loc[:, 'Sex'])
df_le.loc[:, 'Embarked'] = labelencoder.fit_transform(df_le.loc[:, 'Embarked'])
df_le.loc[:, 'Ticket'] = labelencoder.fit_transform(df_le.loc[:, 'Ticket'])
df = df_le

/tmp/ipykernel_12904/3222185930.py:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_le.loc[:, 'Sex'] = labelencoder.fit_transform(df_le.loc[:, 'Sex'])
/tmp/ipykernel_12904/3222185930.py:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_le.loc[:, 'Embarked'] = labelencoder.fit_transform(df_le.loc[:, 'Embarked'])
/tmp/ipykernel_12904/3222185930.py:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_le.loc[:, 'Ticket'] = labelencoder.fit_transform(df_le.loc[:, 'Ticket'])

In [6]:
X = df.drop(['Survived', 'Sex'],axis=1).values
y = df['Survived'].values

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [8]:
X_train= pd.DataFrame(X_train)
X_train.fillna(X_train.mean(), inplace=True)

In [9]:
X_test= pd.DataFrame(X_test)
X_test.fillna(X_test.mean(), inplace=True)

In [12]:
randomforest = RandomForestRegressor(
 max_depth= 5,
 max_features= 'log2',
 n_estimators= 1000
)
randomforest.fit(X_train, y_train)

RandomForestRegressor(max_depth=5, max_features='log2', n_estimators=1000)

In [13]:
y_pred = np.round( randomforest.predict(X_test))

In [14]:
print(accuracy_score(y_test, y_pred))

0.7062937062937062

In [15]:
test

,Unnamed: 0,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,0,332,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,C124,S,0
1,1,734,2,"Berriman, Mr. William John",male,23.0,0,0,28425,13.0000,NaN,S,0
2,2,383,3,"Tikkanen, Mr. Juho",male,32.0,0,0,STON/O 2. 3101293,7.9250,NaN,S,0
3,3,705,3,"Hansen, Mr. Henrik Juul",male,26.0,1,0,350025,7.8542,NaN,S,0
4,4,814,3,"Andersson, Miss. Ebba Iris Alfrida",female,6.0,4,2,347082,31.2750,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
707,707,107,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.6500,NaN,S,1
708,708,271,1,"Cairns, Mr. Alexander",male,NaN,0,0,113798,31.0000,NaN,S,0
709,709,861,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S,0
710,710,436,1,"Carter, Miss. Lucile Polk",female,14.0,1,2,113760,120.0000,B96 B98,S,1
711,711,103,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S,0

In [16]:
test = test.drop(columns=['Cabin', 'Unnamed: 0','Name'])

In [17]:
labelencoder = LabelEncoder()

df_le = test.copy()

df_le.loc[:, 'Sex'] = labelencoder.fit_transform(df_le.loc[:, 'Sex'])
df_le.loc[:, 'Embarked'] = labelencoder.fit_transform(df_le.loc[:, 'Embarked'])
df_le.loc[:, 'Ticket'] = labelencoder.fit_transform(df_le.loc[:, 'Ticket'])
test = df_le

<ipython-input-17-9a4fbfa77563>:5: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_le.loc[:, 'Sex'] = labelencoder.fit_transform(df_le.loc[:, 'Sex'])
<ipython-input-17-9a4fbfa77563>:6: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_le.loc[:, 'Embarked'] = labelencoder.fit_transform(df_le.loc[:, 'Embarked'])
<ipython-input-17-9a4fbfa77563>:7: DeprecationWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  df_le.loc[:, 'Ticket'] = labelencoder.fit_transform(df_le.loc[:, 'Ticket'])

In [18]:
X = df.drop(['Survived', 'Sex'],axis=1).values
y = df['Survived'].values

In [19]:
X_test = test.drop(['Survived', 'Sex'],axis=1).values
y_test = test['Survived'].values

In [20]:
X= pd.DataFrame(X)
X.fillna(X.mean(), inplace=True)
y= pd.DataFrame(X)
y.fillna(y.mean(), inplace=True)
X_test= pd.DataFrame(X_test)
X_test.fillna(X_test.mean(), inplace=True)
y_test= pd.DataFrame(y_test)
y_test.fillna(y_test.mean(), inplace=True)

In [21]:
randomforest = RandomForestRegressor(
 max_depth= 5,
 max_features= 'log2',
 n_estimators= 500
)
randomforest.fit(X, y)

RandomForestRegressor(max_depth=5, max_features='log2', n_estimators=500)

In [22]:
y_pred = (randomforest.predict(X_test))

In [23]:
y_pred = y_pred * 0.001
y_pred = pd.DataFrame(np.round(y_pred))
y_pred =  y_pred[7]

In [24]:
y_pred

0      0.0
1      0.0
2      0.0
3      0.0
4      0.0
      ...
707    0.0
708    0.0
709    0.0
710    0.0
711    0.0
Name: 7, Length: 712, dtype: float64

In [25]:
print(accuracy_score(y_test, y_pred))

0.6235955056179775