In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv('USA_Housing.csv')

In [3]:
X = df.drop('Price',axis=1).values
y = df['Price'].values

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state = 42)

In [15]:
len(y_test)

1000

In [5]:
df_train_x = pd.DataFrame(X_train, columns=df.drop('Price',axis=1).columns)

In [6]:
df_train_x

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Address
0,66547.016454,5.846095,6.847298,4.13,27850.822901,"2288 Gary Square Apt. 812\nWest Jose, PR 78536..."
1,53722.008599,6.401391,7.787764,3.3,47649.224665,USS Williams\nFPO AE 65283
2,64838.492899,6.437157,8.699544,4.02,32921.010068,Unit 2193 Box 7909\nDPO AA 47323-2101
3,67097.09212,6.086754,7.211963,3.05,27191.506877,"052 Thomas Square Apt. 034\nWrightmouth, OR 04272"
4,75245.465436,8.16782,7.4201,3.42,37410.669928,"879 Martha Route Suite 031\nNew Nichole, VI 60708"
...,...,...,...,...,...,...
3995,76223.561256,6.371627,5.342217,2.42,30165.337445,"8456 Rodgers Burg Apt. 215\nSouth Michelle, NM..."
3996,56685.014442,6.958045,7.502115,3.38,43322.166854,"8584 Darrell Groves\nBennettberg, SD 72404-6826"
3997,66195.337714,6.507971,6.611861,3.14,37288.923574,"8367 Manuel Road\nNathanfort, AS 36077-1481"
3998,58694.515017,7.394768,9.269453,4.32,49960.977236,Unit 7385 Box 9302\nDPO AP 21450
3999,61162.580254,5.896316,7.880521,6.04,36033.701431,"06275 Ross Mills Suite 054\nLisastad, DC 67330"

In [7]:
df_train_y = pd.DataFrame(y_train, columns=['Price'])

In [8]:
df_train_y

             Price
0     1.094880e+06
1     1.300389e+06
2     1.382172e+06
3     1.027428e+06
4     1.562887e+06
...            ...
3995  1.023944e+06
3996  1.223101e+06
3997  1.318598e+06
3998  1.708631e+06
3999  1.060898e+06

[4000 rows x 1 columns]

In [9]:
df_train = pd.concat([df_train_x, df_train_y], axis=1)

In [10]:
df_train.to_csv("Erdeni_Houses_train.csv")

In [11]:
df_test_y = pd.DataFrame(X_test, columns=df.drop('Price',axis=1).columns)

In [12]:
df_test_y.to_csv("Erdeni_Houses_test.csv")

In [18]:
pd.DataFrame(y_test, columns=["Price"]).to_csv("Erdeni_Houses_y_true.csv")