In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("train.csv", index_col=0)

In [3]:
df

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
Id,,,,,,,,,,,,,,,,,,,,,
1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
X = df.drop('SalePrice',axis=1).values
y = df['SalePrice'].values

In [5]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 42)

In [6]:
df_train_x = pd.DataFrame(X_train, columns=df.drop('SalePrice',axis=1).columns)

In [7]:
df_train_x

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,120,RL,43.0,3182,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,5,2008,WD,Normal
1,20,RL,78.0,10140,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,648,Fa,GdPrv,NaN,0,1,2006,WD,Normal
2,50,RL,60.0,9060,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,10,2009,WD,Normal
3,20,RL,NaN,12342,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,GdWo,Shed,600,8,2007,WD,Normal
4,20,RL,75.0,9750,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,Shed,500,4,2007,COD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,20,RL,78.0,9317,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,3,2007,WD,Normal
1091,50,RL,65.0,7804,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,MnPrv,NaN,0,12,2009,WD,Normal
1092,20,RL,60.0,8172,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Normal
1093,50,RL,55.0,7642,Pave,NaN,Reg,Lvl,AllPub,Corner,...,0,0,NaN,GdPrv,NaN,0,6,2007,WD,Normal
1094,120,RL,53.0,3684,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,6,2009,WD,Normal

In [8]:
df_train_y = pd.DataFrame(y_train, columns=['SalePrice'])

In [9]:
df_train_y

      SalePrice
0        191000
1        181000
2        105000
3        139900
4        157900
...         ...
1090     176432
1091     135000
1092     115000
1093     189950
1094     174000

[1095 rows x 1 columns]

In [10]:
df_train = pd.concat([df_train_x, df_train_y], axis=1)

In [11]:
df_train.to_csv("house_train.csv")

In [12]:
df_test_x = pd.DataFrame(X_test, columns=df.drop('SalePrice',axis=1).columns)

In [13]:
df_test_x.to_csv("house_test.csv")

In [14]:
df_test_y = pd.DataFrame(y_test, columns=['SalePrice'])

In [15]:
df_test_y.to_csv("house_y_true.csv")

In [16]:
df_test = pd.concat([df_test_x, df_test_y], axis=1)

In [17]:
df_test.dropna()[['churn']].to_csv("house_y_true_dropna.csv")

KeyError: "None of [Index(['churn'], dtype='object')] are in the [columns]"

In [28]:
test2 = df_test.copy()
test2['credit_count'] = test2['credit_count'].interpolate()
test2['overdue_count'] = test2['overdue_count'].interpolate()
test2 = test2.dropna()
test2.to_csv('churn_y_true2.csv')